<div class="container question-details-page">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <a href="javascript:void(0)" class="pull-left back-link" ng-click="DetailsCtrl.goBack()">< Back</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="question-details">
        <h1 class="question-details__title">{{DetailsCtrl.questionDetails.title}}</h1>
        <div class="question-details__description" ng-bind-html="DetailsCtrl.questionDetails.body"></div>
      </div>
      <div class="question-details__tags">
        <span class="post-tag" ng-repeat="tag in DetailsCtrl.questionDetails.tags" ui-sref="tags({tag: tag})">{{tag}}</span>
      </div>
      <div class="owner">
        <div class="owner__image">
          <img ng-src="{{DetailsCtrl.questionDetails.owner.profile_image}}" alt="" width=50>
        </div>
        <div class="owner__name">
          {{DetailsCtrl.questionDetails.owner.display_name}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="answer-list">
        <div class="answer" ng-repeat="answer in DetailsCtrl.answers">
          <div class="answer__description" ng-bind-html="answer.body">
          </div>
          <div class="owner">
            <div class="owner__image">
              <img ng-src="{{answer.owner.profile_image}}" alt="" width=50>
            </div>
            <div class="owner__name">
              {{answer.owner.display_name}}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
