@import 'var';

.question-details {
  margin: 0 0 rem(20);
  &__title {
    margin: rem(30) 0;
  }
  &__description {
    margin: 0 0 rem(20);
  }
  &__tags {
    float: left;
    max-width: 50%;
    span {
      background: #f5f5f5;
      margin: 0 rem(5) rem(5) 0;
      display: inline-block;
      padding: 0 rem(3);
    }
  }
}

.owner {
  float: right;
  text-align: center;
  margin: 0 0 rem(20);
  &__image {
    margin-bottom: rem(10);
  }
}

.answer {
  padding-bottom: rem(30);
  margin-bottom: rem(30);
  border-bottom: 1px solid silver;
  &-list {
    margin: rem(50) 0 0;
    border-top: 1px solid silver;
    padding: rem(50) 0;
  }
  &__description {
    margin: 0 0 rem(20);
  }
}