  <h1>{{TagsCtrl.title}}</h1>
  <div class="search-result">
    <div class="col-xs-12">
      <table class="table search-result__table">
        <thead>
          <tr>
            <th class="author">
              Author:
            </th>
            <th class="title">
              Title:
            </th>
            <th class="count">
              Answers:
            </th>
            <th class="tags">
              Tags:
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in TagsCtrl.searchResult.items">
            <td class="author">
                <img ng-src="{{item.owner.profile_image}}"  width="50" alt="">
                <p>{{item.owner.display_name}}</p>
            </td>
            <td class="title">
              {{item.title}}
            </td>
            <td class="count">
              {{item.answer_count}}
            </td>
            <td class="tags">
              <span ng-repeat="tag in item.tags">{{tag}}{{$last ? "" : ", "}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
