<div class="col-xs-12">
      <ul class="user-answer-list">
        <li class="user-answer clearfix" ng-repeat="answer in AuthorCtrl.answersList">
          <h3 class="user-answer__title">{{answer.title}}</h3>
          <div class="user-answer__description" ng-bind-html="answer.body"></div>
        </li>
      </ul>
    </div>
<div class="clearfix"></div>  