@import 'var';

.user-answer {
  list-style: none;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  &:last-child {
    border-bottom: none;
  }
  &-list {
    margin: 0;
    padding: 0;
  }
  
}