<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="search">
        <div class="search__logo">
          <a href="/"><img ng-src="/images/so-logo.svg" alt=""></a>
        </div>
        <form ng-submit="MainCtrl.search()">
          <div class="input-group">
            <input type="text"
              class="form-control"
              ng-model="MainCtrl.searchfieled">
            <div class="input-group-btn">
              <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>  
            </div>  
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div ui-view class="container"></div>