@import 'var';

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

.layout {
  height: auto;
  min-height: 100%;
  width: 100%;
  padding: 20px 0;
}

.modal-dialog {
  @media (min-width: 768px) {
    width: 100%;
    max-width: 800px;
  }
}