  
  <div class="row search-result">
    <div class="col-md-offset-2 col-md-8">
      <table class="table search-result__table">
        <thead>
          <tr>
            <th class="author">
              Author:
            </th>
            <th class="title">
              Title:
            </th>
            <th class="count">
              Answers:
            </th>
            <th class="tags">
              Tags:
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in SearchCtrl.searchResult.items">
            <td class="author">
              <a ui-sref="author({authorId: item.owner.user_id})">
                <img ng-src="{{item.owner.profile_image}}"  width="50" alt="">
                <p>{{item.owner.display_name}}</p>
              </a>
            </td>
            <td class="title">
              <a ui-sref="details({question_id: item.question_id})">{{item.title}}</a>
            </td>
            <td class="count">
              <a ui-sref="details({question_id: item.question_id})">
                {{item.answer_count}}
              </a>  
            </td>
            <td class="tags">
              <span ng-repeat="tag in item.tags"><a ui-sref="tags({tagged: tag})">{{tag}}</a>{{$last ? "" : ", "}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row search-controls">
    <div class="col-md-8 col-md-offset-2 text-center">
      <ul class="pagination-sm" 
        uib-pagination total-items="SearchCtrl.searchResult.total" 
        ng-model="SearchCtrl.currentPage" 
        direction-links="false" 
        max-size='6'
        boundary-link-numbers="true"
        ng-change="SearchCtrl.pageChange()">
      </ul>
    </div>
  </div>
