@import 'var';

.search {
  &-result {
    margin-top: 40px;
    &__table {
      font-size: rem(14);
      line-height: 1.2;
    }
  }
}

.author {
  text-align: center;
  max-width: 100px;
  p {
    margin: 10px 0 0;
  }
}

.count {
  width: 50px;
  text-align: center;
}

.tags {
  width: 100px;
}